# model
torch                     == 2.0.0
torchvision               == 0.15.1
git+https://github.com/facebookresearch/segment-anything.git
opencv-python             == 4.7.0.72
pycocotools               == 2.0.6

# app
gradio                    == 3.32.0
